#container {
    display: flex;
    flex-flow: row wrap;
}

.panel {
    width: 50%;
    height: 50%;
    margin: 0;
    border-radius: 0;
}

.panel-heading {
    padding: 0;
    height: 34%;
    font-size: 7vmin;
    line-height: 8vmin;
    text-align: center;
}
.panel-body {
    padding: 0 6px 1px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    position: relative;
}

.panel-body .value {
    font-size: 19vmin;
    font-weight: bold;
    padding-bottom: 10px;
}
.panel-body .time {
    position: absolute;
    bottom: 0;
    right: 3px;
    font-size: 8vmin;
}

@media all and (max-width: 160px) {
    .panel-heading {
        font-size: 7.5vw;
        line-height: 18vmin;
    }

    .panel-heading .label-long {
        display: none;
    }
}

.panel-warning .panel-heading {
    background-color: #FFF2AE;
}

.panel-warning .panel-body .value {
    color: orange;
}

.panel-danger .panel-body .value {
    color: #ce0000;
}